:root {
  --trajectory: green;
  --winner: #e84a64;
  --loser: #999;
}

* {
  font-family: 'Open Sans', sans-serif;
  /* outline: 1px dotted gray; */
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.knockouts {
  display: flex;
  justify-content: center;
}

[data-disable] {
  pointer-events: none;
}

[data-key] {
  height: 40px;
  width: 100px;
  border: 1px solid var(--loser);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 300ms ease;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background: white;
  z-index: 2;
}

[data-key]:nth-child(2n) {
  margin-top: 2px;
}

[data-win='true'][data-played='true'] {
  border: 1px solid var(--winner);
  color: var(--winner);
}

[data-win='true'][data-played='true'][data-trajectory] {
  border: 1px solid var(--trajectory);
  color: var(--trajectory);
}

#id0[data-win='true'][data-played='true'] {
  border: 1px solid var(--trajectory);
  color: var(--trajectory);
  transform: translateY(-300%) scale(2) rotate(360deg);
  transition: all 600ms ease;
}

[data-win='false'][data-played='true'] {
  border: 1px solid var(--loser);
  color: var(--loser);
  opacity: 0.3;
}

.phase {
  margin: 0 10px;
}

.phase--quartas,
.phase--semi,
.phase--final,
.phase--campeao {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 0;
}

.confront {
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .phase {
    margin: 0 1vw;
  }

  [data-key] {
    height: 4.5vw;
    width: 8.5vw;
    font-size: 1.2vw;
  }

  .title {
    font-size: 10vw;
  }
}

