/* ======================================== */
/* Constantes */
/* ======================================== */

:root {
  --base-color: #111;
  --trajectory: #ff5722;
  --winner: #2196f3;
  --loser: #ddd;
  --border-width: 2px;
  --border-style: solid;
  --background: white;
  --indexes-font-size: 20px;
  --teams-font-size: 18px;
  --title-font-size: 3.3rem;
  --title-margin: 1.5rem;
  --animation-duration: 300ms;
  --border-radius: 2px;
}

@media (min-width: 768px) {
  :root {
    --team-height: 2vw;
    --team-width: 5vw;
    --teams-font-size: 1vw;
    --heap-height: 2vw;
    --heap-width: 2vw;
    --indexes-font-size: 1.1vw;
    --phase-margin: 1vw;
    --team-img-height: 3vw;
  }
}

@media (max-width: 768px) {
  :root {
    --team-height: 5vw;
    --team-width: 7vw;
    --teams-font-size: 3.5vw;
    --heap-height: 3vw;
    --heap-width: 3vw;
    --indexes-font-size: 2vw;
    --title-font-size: 7vw;
    --title-margin: 4vw;
    --team-img-height: 8vw;
    --phase-margin: 1vw;
  }
}

/* ======================================== */
/* Textos */
/* ======================================== */

* {
  font-family: 'Open Sans', sans-serif;
}

.title {
  text-align: center;
  font-size: var(--title-font-size);
  font-weight: 700;
  line-height: 1;
  margin: var(--title-margin) auto;
}

/* ======================================== */
/* Representação do Heap */
/* ======================================== */

.indexes {
  margin-top: 15px;
}

.array {
  margin-bottom: 30px;
}

.array,
.indexes {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-index-key],
[data-array-key] {
  height: var(--heap-height);
  width: var(--heap-width);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width) var(--border-style) transparent;
  border-left: none;
  transition: background var(--animation-duration) ease;
  font-size: var(--indexes-font-size);
  font-weight: 700;
}

[data-index-key]:first-child {
  border: var(--border-width) var(--border-style) transparent;
}

[data-array-key] {
  border: var(--border-width) var(--border-style) #111 !important;
  border-left: none !important;
  cursor: pointer;
}

[data-array-key]:first-child {
  border-left: var(--border-width) var(--border-style) #111 !important;
}

[data-array-key][data-win='false'][data-played='true'] {
  background-color: var(--loser);
}

[data-array-key][data-win='true'][data-played='true'] {
  background-color: var(--winner);
}

[data-array-key][data-win='true'][data-played='true'][data-trajectory] {
  background-color: var(--trajectory);
}

[data-array-key] .team-img {
  height: calc(var(--heap-height) / 1.5);
  width: auto;
}

/* ======================================== */
/* Containers e blocos */
/* ======================================== */

.knockouts {
  display: flex;
  justify-content: center;
  transition: all var(--animation-duration) ease;
}

.phase {
  margin: 0 var(--phase-margin);
}

[data-block] {
  height: var(--team-height);
  width: var(--team-width);
  border: var(--border-width) var(--border-style) transparent;
}

/* ======================================== */
/* Times */
/* ======================================== */

[data-key] {
  line-height: 1;
  position: relative;
  height: var(--team-height);
  width: var(--team-width);
  border: var(--border-width) var(--border-style) transparent;
  color: var(--base-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all var(--animation-duration) ease;
  font-size: var(--teams-font-size);
  font-weight: 700;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

[data-win='false'][data-played='true'] {
  border: var(--border-width) var(--border-style) transparent;
  color: var(--loser);
}

[data-win='false'][data-played='true']:after {
  border-color: var(--loser);
  transition: all var(--animation-duration) ease;
}

[data-disable] {
  pointer-events: none;
}

[data-win='true'][data-played='true'] {
  border: var(--border-width) var(--border-style) transparent;
  color: var(--winner);
}

[data-win='true'][data-played='true']:after {
  border-color: var(--winner);
  transition: all var(--animation-duration) ease;
}

[data-win='true'][data-played='true'][data-trajectory] {
  border: var(--border-width) var(--border-style) transparent;
  color: var(--trajectory);
}

[data-win='true'][data-played='true'][data-trajectory]:after {
  border-color: var(--trajectory);
  border-width: calc(var(--border-width) * 2);
  transition: all var(--animation-duration) ease;
}

#id0 {
  transform: translateY(-300%) scale(1);
  transition: all calc(2 * var(--animation-duration)) ease;
}

#id0[data-win='true'][data-played='true'] {
  border: var(--border-width) var(--border-style) transparent;
  color: var(--trajectory);
  transform: translateY(-300%) scale(1.5) rotate(360deg);
}

/* ======================================== */
/* Licação entre as chaves */
/* ======================================== */

[data-key='oitavas4_time1']:after,
[data-key='oitavas3_time1']:after,
[data-key='oitavas2_time1']:after,
[data-key='oitavas1_time1']:after {
  display: block;
  content: '';
  height: calc(var(--team-height) + (2 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-bottom: none;
  border-left: none;
  position: absolute;
  left: calc(50% - (var(--border-width) / 2));
  top: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='oitavas4_time2']:after,
[data-key='oitavas3_time2']:after,
[data-key='oitavas2_time2']:after,
[data-key='oitavas1_time2']:after {
  display: block;
  content: '';
  height: calc(var(--team-height) + (2 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-top: none;
  border-left: none;
  position: absolute;
  left: calc(50% - (var(--border-width) / 2));
  bottom: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='oitavas8_time1']:after,
[data-key='oitavas7_time1']:after,
[data-key='oitavas6_time1']:after,
[data-key='oitavas5_time1']:after {
  display: block;
  content: '';
  height: calc(var(--team-height) + (2 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-bottom: none;
  border-right: none;
  position: absolute;
  right: calc(50% - (var(--border-width) / 2));
  top: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='oitavas8_time2']:after,
[data-key='oitavas7_time2']:after,
[data-key='oitavas6_time2']:after,
[data-key='oitavas5_time2']:after {
  display: block;
  content: '';
  height: calc(var(--team-height) + (2 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-top: none;
  border-right: none;
  position: absolute;
  right: calc(50% - (var(--border-width) / 2));
  bottom: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='quartas1_time1']:after,
[data-key='quartas2_time1']:after {
  display: block;
  content: '';
  height: calc(2 * var(--team-height) + (3 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-bottom: none;
  border-left: none;
  position: absolute;
  left: calc(50% - (var(--border-width) / 2));
  top: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='quartas1_time2']:after,
[data-key='quartas2_time2']:after {
  display: block;
  content: '';
  height: calc(2 * var(--team-height) + (3 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-top: none;
  border-left: none;
  position: absolute;
  left: calc(50% - (var(--border-width) / 2));
  bottom: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='quartas3_time1']:after,
[data-key='quartas4_time1']:after {
  display: block;
  content: '';
  height: calc(2 * var(--team-height) + (3 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-bottom: none;
  border-right: none;
  position: absolute;
  right: calc(50% - (var(--border-width) / 2));
  top: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='quartas3_time2']:after,
[data-key='quartas4_time2']:after {
  display: block;
  content: '';
  height: calc(2 * var(--team-height) + (3 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-top: none;
  border-right: none;
  position: absolute;
  z-index: -1;
  right: calc(50% - (var(--border-width) / 2));
  bottom: calc(50% - (var(--border-width) / 2));
}

[data-key='semifinal2_time1']:after {
  display: block;
  content: '';
  height: calc(4 * var(--team-height) + (8 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-bottom: none;
  border-right: none;
  position: absolute;
  right: calc(50% - (var(--border-width) / 2));
  top: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='semifinal2_time2']:after {
  display: block;
  content: '';
  height: calc(4 * var(--team-height) + (8 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-top: none;
  border-right: none;
  position: absolute;
  right: calc(50% - (var(--border-width) / 2));
  bottom: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='semifinal1_time1']:after {
  display: block;
  content: '';
  height: calc(4 * var(--team-height) + (8 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-bottom: none;
  border-left: none;
  position: absolute;
  left: calc(50% - (var(--border-width) / 2));
  top: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='semifinal1_time2']:after {
  display: block;
  content: '';
  height: calc(4 * var(--team-height) + (8 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-top: none;
  border-left: none;
  position: absolute;
  left: calc(50% - (var(--border-width) / 2));
  bottom: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='final_time1']:after {
  display: block;
  content: '';
  height: calc(3 * var(--team-height) + (6 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-top: none;
  border-left: none;
  position: absolute;
  left: calc(50% - (var(--border-width) / 2));
  bottom: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='final_time2']:after {
  display: block;
  content: '';
  height: calc(3 * var(--team-height) + (6 * var(--border-width)));
  width: calc(
    var(--team-width) + (var(--border-width) * 2) + (2 * var(--phase-margin))
  );
  border: var(--border-width) var(--border-style) var(--base-color);
  border-top: none;
  border-right: none;
  position: absolute;
  right: calc(50% - (var(--border-width) / 2));
  bottom: calc(50% - (var(--border-width) / 2));
  z-index: -1;
}

[data-key='final_time2'][data-played='true'][data-win='false']:after {
  z-index: -3;
}

/* ======================================== */
/* Escudos */
/* ======================================== */

.team-img {
  height: var(--team-img-height);
  width: auto;
  transition: all var(--animation-duration) ease;
}

[data-win='false'][data-played='true'] .team-img {
  transform: scale(0.7);
  opacity: 0.5;
  filter: grayscale(1);
}

[data-win='true'][data-played='true'][data-trajectory] .team-img {
  transform: scale(1.3);
}

@media (max-width: 768px) {
  .team-img {
    transform: rotate(-90deg);
  }

  [data-win='false'][data-played='true'] .team-img {
    transform: scale(0.7) rotate(-90deg);
    opacity: 0.5;
    filter: grayscale(1);
  }

  [data-win='true'][data-played='true'][data-trajectory] .team-img {
    transform: scale(1.3) rotate(-90deg);
  }

  [data-array-key] .team-img {
    transform: rotate(0) !important;
  }
}

/* ======================================== */
/* Rotação do Mata-mata */
/* ======================================== */

@media (max-width: 768px) {
  .knockouts {
    transform: rotate(90deg);
    margin: 9vw auto;
  }
}

